<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Tap.li Beer Viewer</a>
      <ul class="nav">
        <li><a href="">Home</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid users"></div>
  <div class="row-fluid content">
    <div class="span3 bars"></div>
    <div class="span9 beers"></div>
  </div>

  <hr>

  <footer>
    <p>&copy; Tap.li</p>
  </footer>
</div>

